pyqt6
pyqt6-sip
pyqt6-WebEngine
selenium
pymysql
pytz
schedule
ntplib
pandas
chinesecalendar
psutil
sqlalchemy
bs4
pytesseract
tushare
pandas_datareader
yfinance
efinance
matplotlib
scikit-learn
TA-Lib
cryptography
openpyxl